

# Binary Files
Binaries/*
Plugins/*/Binaries/*

Intermediate
Saved
DerivedDataCache
.vs
.idea
*.sdf
*.opensdf
*.sln
*.suo
*.pdb
*.exe
*-DebugGame.dll
*.sym
*.debug
*.log
*.target.xml
*.target
*.modules
*.opendb
*.VC.db
